/* common shart style */
body {
  font-family: 'Open Sans', sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  background-color: #fd6e0a;
  border-radius: 5px;
  border: 0;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding: 18px 35px;
}
/* nav relaed style  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  color: #181818;
  font-style: normal;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
  color: #474747;
}
nav a {
  text-decoration: none;
  color: #474747;
}
h3 {
  font-size: 35px;
}
